.left-content {
    width: 100%;
    height: 100%;
    /* box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 75); */
}

.carousel {
    width: 100%;
}

.home-category-container {
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
}

.category-field {
    flex: 1;
    height: 100%;
    border-radius: 10px;
    background-color: white;
    margin: 10px;
    transition: transform 200ms ease-in;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 75);
    position: relative;
}
.category-field:hover {
    transform: scale(1.07);
    cursor: pointer;
}

.discount-container {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1000;
    margin-top: 10px;
}

.sales-container {
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 75);
    /* width: 20vw; */
    flex: 0.76;
    height: 100%;
    margin: 10px;
    background-color: white;
    display: flex;
    background-image: url("../assests//sale-banner.jpg");
    background-repeat: no-repeat;
}

.offer-container {
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 75);
    /* width: 20vw; */
    flex: 0.24;
    height: 100%;
    background-color: white;
    margin: 10px;
    transition: transform 200ms ease-in;
    position: relative;
    cursor: pointer;
    display: block;
    justify-content: center;
    align-items: center;
    /* background-color: salmon; */
}


.left-arrow {
    
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    left: 0;
    border-radius: 200px;
    overflow: hidden;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3px;
    transition: transform 200ms ease-in;
    display: none;
}

.right-arrow {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    right: 0;
    border-radius: 200px;
    overflow: hidden;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3px;
    display: none;
}

.offer-container:hover .left-arrow {
    display: flex;
}

.offer-container:hover .right-arrow {
    display: flex;
}

.sales-image {
    flex: 0.3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sales-image > img {
    width: 80%;
    height: 70%;
    /* background-color: yellow; */
}

.sales-details {
    flex: 0.7;
    display: table;
    /* align-items: center; */
    justify-content: center;
    align-items: center;
    height: 100%;
}

.sales-day-count {
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer > div {
    background-color: #851d41;
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
}
.timer > h4 {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    color: white;
}

.sales-day-count > h3 {
    text-align: center;
    color: white;
}

.shop-now-btn-container {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-now-btn {
    width: 30%;
    height: 40px;
    background-color: #ff6464;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 75);
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
}

.cat-title-container {
    width: 100%;
    height: 20%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cat-image-container {
    top: 20%;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.cat-browse-container {
    top: 90%;
    width: 100%;
    height: 10%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 10px;
    color: tomato;
}

.cat-image-container > img {
    width: 90%;
    height: 90%;
    border-radius: 10px;
}