.right {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-content {
    width: 95%;
    height: 98%;
    box-shadow: 0px 5px 9px -9px rgba(0, 0, 0, 75);
    background-color: white;
}

.side-header {
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    box-shadow: 0px 5px 7px -9px rgba(0, 0, 0, 75);
}

.icon-button {
    height: 50px;
}

.side-profile {
    display: flex;
}

.side-options {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}